<div class='card-info'>
<h1>{{this.name}}</h1>
          <p>Capital: {{this.capital}}</p>
          <p>Population: {{this.population}}</p>
          <p>Languages:</p>
          <ul>
            {{#each languages}}
            <li>{{this.name}}</li>
            {{/each}}
        </ul>
        </div>
        <div class='image-wrapper'>
          <img src="{{this.flag}}", alt = "Flag of {{this.name}}"/>
        </div>
      </div>
